@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer components {
	html,
	body {
		scrollbar-width: thin;
		scrollbar-color: rgba(black, 0.15) transparent;
	}

	.c-breadcrumbs__link[aria-disabled="true"] {
		pointer-events: none;
		cursor: default;
	}
}

@theme {
	--font-sans: var(--font-satoshi), Arial, sans-serif;
}
