---
import { getCollection } from "astro:content";
import ApartmentsPreview from "../../components/ApartmentsPreview.astro";
import MainHeader from "../../components/MainHeader.astro";
import Layout from "../../layouts/Layout.astro";
import { toCardProps } from "../../lib/apartments";

const all = await getCollection("apartments");
const items = all.sort((a, b) => a.data.order - b.data.order).map(toCardProps);
---
<Layout
	title="Nasze apartamenty"
	description="Poznaj nasze apartamenty w Osada REST w Tyliczu. Komfortowe wnętrza, piękne widoki i doskonała lokalizacja blisko stoku i atrakcji."
>
    <MainHeader>
        <span slot="title">Wybierz swój apartament </span>
            <span slot="description">Każdy apartament został zaprojektowany z myślą o wygodzie Gości: znajdziesz tu przytulne sypialnie, aneks kuchenny, nowoczesną łazienkę oraz przestrzeń do relaksu.</span>
    </MainHeader>

    <ApartmentsPreview items={items}
    />
</Layout>
