<div class="flex flex-col items-center justify-center h-[630px] w-[1200px]  p-4 bg-linear-to-l from-[#cc5500] to-[#ee0979] tracking-tighter">
    <p class="text-[10rem] font-bold text-white text-shadow-xs">OSADA REST</p>
    <p class="text-center text-[3rem] font-bold text-white text-shadow-xs">ul. Osada 3<br>33-383 Tylicz</p>
    <p class="text-center text-[2rem] mt-10 font-bold text-white text-shadow-xs">www.osadarest.pl</p>
</div>
