---
import { Image } from "astro:assets";
import yardImage from "@assets/yard5.jpeg";
import { CONTACT_EMAIL, CONTACT_PHONE } from "../consts";
---

<div class="bg-white py-8">
  <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="relative isolate overflow-clip bg-black px-6 pt-16 shadow-2xl sm:rounded-3xl sm:px-16 md:pt-24 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0">
      <div aria-hidden="true" class="absolute right-0 top-0 -z-10 aspect-square w-full max-w-3xl translate-x-3/4 rounded-full bg-[#ff6a00] blur-[10rem] lg:-top-[40rem] lg:left-1/2 lg:-translate-x-1/2"></div>
      <div class="mx-auto max-w-md text-center lg:mx-0 lg:flex-auto lg:py-24 lg:text-start">
        <h2 class="text-3xl font-semibold tracking-tight text-white sm:text-4xl">Zarezerwuj sw贸j pobyt</h2>
        <p class="mt-6 text-base text-gray-300">
            Skontaktuj si z nami, aby uzyska szczeg贸owe informacje na temat
                  <strong>apartament贸w, dostpnych termin贸w oraz atrakcji w okolicy</strong>.
                  Chtnie odpowiemy i pomo偶emy w rezerwacji pobytu.
        </p>
        <div class="mt-10 flex items-center justify-center gap-x-6 lg:justify-start">
          <a href={`tel:${CONTACT_PHONE}`} class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 hover:bg-gray-100 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"> Zadzwo</a>
          <a href={`mailto:${CONTACT_EMAIL}`} class="text-sm font-semibold leading-6 text-white">锔 Wylij e-mail</a>
        </div>
      </div>
      <div class="relative mt-16 h-80 lg:mt-8 lg:h-auto">
        <Image  class="absolute left-0 top-0 w-[40rem] max-w-none rounded-2xl bg-white/5 ring-1 ring-white/10 lg:top-14" src={yardImage} alt="dashboard screenshot" />
      </div>
    </div>
  </div>
</div>
