---
import { Image } from "astro:assets";
import Logo from "@assets/logo.svg";
import { SITE_TITLE } from "../consts";

const today = new Date().getFullYear();
---

<footer class="container mx-auto p-4 md:py-8">
    <div class="flex items-center justify-between">
        <a href="/">
            <Image src={Logo} alt={SITE_TITLE} class="w-12" loading="lazy"/>
        </a>
        <ul class="flex flex-wrap items-center mb-0 text-sm text-gray-500 dark:text-gray-400">
            <li>
                <a href="/apartamenty" class="hover:underline me-4 md:me-6">Apartamenty</a>
            </li>
            <li>
                <a href="/blog" class="hover:underline me-4 md:me-6">Blog</a>
            </li>
        </ul>
    </div>
    <hr class="my-2 border-gray-200 mx-auto dark:border-gray-700 lg:my-4" />
    <span class="block text-sm text-gray-500 text-center dark:text-gray-400">&copy; {today} {SITE_TITLE}. Wszelkie prawa zastrzeżone.</span>
</footer>
