---
import { Picture } from "astro:assets";

interface Props {
	gallery?: { src: string; alt: string }[];
}

const { gallery = [] } = Astro.props;
---

{gallery.length > 0 && (
    <section class="container mx-auto py-4 sm:py-6">
        <div class="grid md:grid-cols-4 gap-4">
            {gallery.map((img, i) => {
                const isLarge = i % 4 === 2 || i % 4 === 3;
                return (
                    <figure class={`relative overflow-hidden rounded-lg 2xl:rounded-2xl hover:scale-102 transition duration-300 fade-up ${isLarge ? "md:col-span-2 row-span-2 aspect-16/10 md:aspect-video" : "md:col-span-1 aspect-4/3 md:aspect-5/4"}`}>
                        <Picture
                            src={img.src}
                            alt={img.alt || "Galeria"}
                            formats={["avif","webp"]}
                            fallbackFormat="webp"
                            loading="lazy"
                            class="absolute inset-0 h-full w-full object-cover"
                            sizes={isLarge ? "(min-width: 64rem) 50vw, 100vw" : "(min-width: 64rem) 25vw, 100vw"}
                        />
                    </figure>
                );
            })}
        </div>
    </section>
)}
