---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const isActive = href === pathname || href === `/${pathname}`;
---

<a href={href} class:list={[className, { ' bg-gry-50 shadow-sm dark:shadow-white/20 rounded-2xl': isActive }]} {...props}>
	<slot />
</a>
