---
import { Image } from "astro:assets";
import yardImage from "@assets/yard1.jpeg";
---

<section class="relative">
<div class="mx-auto container px-4 py-16 lg:grid lg:grid-cols-2 lg:gap-12 lg:py-24">
  <div class="flex flex-col justify-center">
    <h1 class="text-3xl text-center md:text-start md:text-5xl font-semibold tracking-tight text-gray-900 dark:text-gray-100">
        Nowoczesne apartamenty w Tyliczu – komfortowy nocleg blisko stoku i atrakcji
    </h1>
    <h2 class="mt-6 text-justify text-xl leading-8 text-gray-600 dark:text-gray-300">
        Wybierz <strong>Osada REST</strong> w Tyliczu – idealne miejsce na wypoczynek w górach. Zaledwie <strong>600 metrów od stacji narciarskiej MASTER-SKI</strong> i <strong>100 metrów od Restauracji Wiejska Chata</strong>. Komfort, widok na panoramę i gościnność czekają na Ciebie.
    </h2>
    <div class="mt-8 flex gap-4 text-center md:text-start">
      <a
        href="/rezerwacja"
        class="rounded-lg px-6 py-3 text-xl font-semibold text-white hover:brightness-105 transition bg-gradient-to-l from-[#ff6a00] to-[#ee0979]"
      >
        Zarezerwuj pobyt
      </a>
      <a
        href="/blog/okolica-i-atrakcje"
        class="rounded-lg border border-gray-300 dark:border-gray-500 px-6 py-3 text-lg font-semibold text-gray-700  dark:text-gray-200 dark:hover:bg-gray-700 hover:bg-gray-100 transition"
      >
        Poznaj atrakcje w okolicy
      </a>
    </div>
  </div>

  <div class="mt-12 lg:mt-0 lg:flex lg:items-center">
    <Image
      src={yardImage}
      alt="Widok osady REST w Tyliczu"
      class="w-full rounded-xl shadow-lg dark:shadow-white/20 object-cover"
    loading="eager"
    />
  </div>

</div>
</section>
