---
import { PROMO_NEXT_BOOKING_PERCENT } from "../consts";
---

<section class="py-16 md:py-20 bg-gradient-to-l from-[#ff6a00] to-[#ee0979] text-white">
  <div class="container mx-auto max-w-5xl px-6 text-center">
    <h2 class="text-3xl md:text-4xl font-extrabold mb-6">
      Program lojalnościowy – {PROMO_NEXT_BOOKING_PERCENT}% rabatu na kolejny pobyt
    </h2>

    <p class="text-lg md:text-xl mb-10">
      W <strong>Osada REST w Tyliczu</strong> doceniamy naszych Gości.
      Dlatego przygotowaliśmy specjalną ofertę:
      <span class="font-semibold">{PROMO_NEXT_BOOKING_PERCENT}% zniżki</span> na każdy <strong>kolejny pobyt</strong>.
      Wracając do nas, zyskujesz nie tylko komfortowy nocleg, ale też atrakcyjną cenę.
    </p>

    <p class="bg-white dark:bg-gray-900 rounded-2xl shadow-xl  p-8 md:p-10 inline-block text-2xl font-bold text-[#ff6a00]">
        -{PROMO_NEXT_BOOKING_PERCENT}% na kolejny pobyt w Osada REST
    </p>

  </div>
</section>
