---
import { Head } from "astro-capo";
import BaseHead from "../components/BaseHead.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="pl">
	<Head>
		<BaseHead title={title} description={description} />
	</Head>

	<body class="bg-white dark:bg-gray-900">
		<Header />
		<main class="container mx-auto px-4 py-8">
		<Breadcrumbs/>
			<slot />
		</main>
		<Footer />
	</body>
</html>
